body{
  position:relative;
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  
  nav {
    position:relative;
    background-color: #AE674A; 
    position: fixed;
    top: 0;
    left: 0; 
    height: 75px;
    width: 100vw; 
    z-index: 1; 
  }
  
  nav ul li {
    position:relative;
    float: right; 
    margin-right: 100px; 
    list-style-type: none; 
    text-align: center;  
  }


  
  .nav-link{
  color: white; 
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
    }

  .nav-link:hover {
    color: #4D314C; 
    font-weight: bolder; 
    
   }
  
  #brand .nav-link {
    color: White; 
    font-size: 15pt; 
    }
  
  #brand .nav-link:hover {
    color: purple; 
    
  }
  
  #home {
    margin-top: 0px;
    position: relative; 
    left: -8px;
    width: 100vw;
    height: 30vw; 
    padding-top: 150px;
    background: url('IMG_4096.JPG') center 90% no-repeat fixed; 
    background-size: cover; 
        text-align: center;
    color: White;
    text-shadow: 2px 2px 2px black; 
  }
  
.main {
  position:relative;
  margin-left: 50%;
  }
 
  
  #about {
    position:relative;
  }

  #about {
    position:relative;
       display: inline-block;
  }
 
  #profile-pic {
    position:relative;
    height: 450px; 
    width: 400px;
    object-fit: auto;
    border-radius: 5em; 
    box-shadow: -2px 2px 2px black;
  }

  #main {
    position:relative;
    color: black;
    text-transform: none;
    text-align: right;
    margin-right: 20px;
    font-weight: bolder;
    font-size: 20pt;
  }

  .flex-container {
    position:relative;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around; 
    width: 100%;
  }

  .flex-item {
    position:relative;
    flex: 0 0 auto;
  margin: 25px;

}

hr{
  background-color: #5B3446;
  border: none;
}

#screens {
  position:relative;
max-height: 275px;
min-width: 200px;
object-fit: contain;
vertical-align: bottom;
}

ul {
  list-style-type: none;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}

  label {
    position:relative;
    position: relative;
    display: block;
  }
    
  div.spacer
{
    font-size: 0; 
    height: 100px;
    line-height: 0;
}

    input {
      position:relative;
      font: 18px Helvetica, Arial, sans-serif;
      box-sizing: border-box;
      display: block;
      border: none;
      padding: 20px;
      width: 300px;
      margin-bottom: 20px;
      font-size: 18px;   
      text-align: center;   
           }
  
    
    span {
      position:relative;
      color: #35dc9b;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      position: absolute;
      top: 0px;
      left: 20px;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
  
  
  input[type="submit"] {
    position:relative;
    transition: all 0.2s ease-in-out;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #453245;
    color: #fff;
    padding: 16px 40px;
     
  }

  #contact {
    position:relative;
    width: 95%;
    height: 40vw;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    align-content: center;
    padding: 100px;
    display: block;
}



#form {
  position:relative;
  height: 600px;
  width: 600px;
  background-color: #AE674A;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bolder;
  color: white;
}

h4, h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#footer {
  position:relative;
  width: 100%;
  height: 12vw;
  background-color: #AE674A;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}


#inner {
  position:relative;
  width: 100%;
  height: 5vw;
  background-color: #AE674A;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}


#smicon {
  position:relative;
  height: 100px; 
  width: 100px;
  object-fit: auto;
  border-radius: 1em; 
}



